<form method="POST" action="/cards">
    <label for="fullName">Full Name</label>
    <input id="fullName" type="text" name="fullName" placeholder="John Smith">
    <br>
    <label for="brand">Brand</label>
    <input id="brand" type="text" name="brand">
    <br>

    <label for="number">Card Number</label>
    <input id="number" type="text" name="number">
    <br>

    <label for="ccv">CCV</label>
    <input id="ccv" type="text" name="ccv">
    <br>

    <label for="validFrom">Valid From</label>
    <input id="validFrom" type="text" name="validFrom" placeholder="4/21">
    <br>

    <label for="untilEnd">Until End</label>
    <input id="untilEnd" type="text" name="untilEnd" placeholder="4/25">
    <br>

    <input type="submit">
</form>